
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script type="text/javascript">

$(document).ready(function(){

    var counter = 2;

    $("#addButton").click(function () {

    if(counter>4){
            alert("Only 4 references allow");
            return false;
    }   

    var newTextBoxDiv = $(document.createElement('div'))
         .attr("id", 'TextBoxDiv' + counter);

    newTextBoxDiv.after().html('<label>Name'+ counter + ' : </label>' +
          '<input type="text" name="ref_name' + counter + 
          '" id="textbox' + counter + '" value="" >' + '<label> Relation' + ' : </label>' +
          ' <input type="text" name="ref_relation' + counter + 
          '" id="textbox' + counter + '" value="" >' + '<label> Contact No.' + ': </label>' +
          ' <input type="text" name="ref_contact' + counter + 
          '" id="textbox' + counter + '" value="" >');

    newTextBoxDiv.appendTo("#TextBoxesGroup");


    counter++;
     });

     $("#removeButton").click(function () {
    if(counter==1){
          alert("No more references to remove");
          return false;
       }   

    counter--;

        $("#TextBoxDiv" + counter).remove();

     });

  });
</script>

<div class="select-box">
  <img src="" height="50" width="40" id='addButton'>
  <img src="" height="50" width="40" id='removeButton'>
</div>



<div id='TextBoxesGroup'>
	<div id="TextBoxDiv">
		<label>Name1 : </label><input type='textbox' name="ref_name" id='textbox1' >
		<label>Relation : </label><input type='textbox' name="ref_relation" id='textbox2' >
		<label>Contact No.: </label><input type='textbox' name="ref_contact" id='textbox3' >
	</div>
</div>
