/* start code by arvind   */


.button
{
    height: 45px;
	margin: 15px 0;
    text-align: center;
    border: 1px solid #515151;
    width: 100%;
    float: left;
	text-decoration:none;
    color: #fff;
    font-size: 25px;
    line-height: 45px;
    border-radius: 5px;
	background: rgb(252,35,43);
    background: -moz-linear-gradient(top, rgb(252,35,43) 1%, rgb(176,0,0) 100%);
    background: -webkit-linear-gradient(top, rgb(252,35,43) 1%,rgb(176,0,0) 100%);
    background: linear-gradient(to bottom, rgb(252,35,43) 1%,rgb(176,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc232b', endColorstr='#b00000',GradientType=0 );
}

.button:hover{
	cursor:pointer;
	opacity:0.8;
}
/* end arvind coding */

* {
	padding:auto;
	margin:auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html, body
{
	padding: 0;
	margin: 0;
}
body
{
	background-color:#fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
	text-decoration: underline;
}

header {
	/*width:auto;
	height:100px;*/
	background-color:#edaa1e;
	/*position:relative;*/
}

.logo {
	/*position:absolute;
	left:70px;*/
	display: inline-block;
    vertical-align: middle;
}

.menu
{
	display: inline-block;
    vertical-align: middle;
	margin-right:10px;
}

.menu img{
	/*position:absolute;
	top:40px;
	left:0;*/
}
nav:not(.mm-menu)
{
	display: none;
}
.click-show .static
{
    /* text-align: center; */
    /* float: left; */
    /* width: 100%; */
    /* min-width: 320px; */
    /* padding-top: 20px; */
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    /* list-style-type: none; */
    /* display: inline-block; */
    /* padding: 0; */
    /* margin-bottom: 15px; */
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
    padding-top: 7px;
    background: rgba(0, 0, 0, 0.56);
}

.header,
.content,
.footer
{
	text-align: center;
}
.header,
.footer
{
	position:relative;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a
{

}
.content
{
	padding: 150px 50px 50px 50px;
}

section {	
	padding-bottom:60px;
	position:relative;
	background-color:#fff;
}
#login{padding:5% 0;}
.login {
	width:700px;
	height:430px;
	background-color:#edaa1e;
	border-radius:15px;		
	margin:0 auto	;
}
#box{	
    /*background-color: #edaa1e;
    border-radius: 15px;
    color: #000;
    border-radius: 15px 15px 0px 0px;
    border: #444 solid 1px;
    text-align: center;*/
}
#box h2
{
    font-size: 30px;
    padding: 12px 0;
    margin: 0;
	color: #fff;
	text-align: center;
	background-color: #edaa1e;
}
#box h2 img
{
    vertical-align: middle;
    margin-right: 15px;
}
#login_div{
    width: 500px;
    margin: 0 auto;
    height: 175px;
    margin-top: 10%;
}
.emailid {
	    float: left;
	position:relative;
	width:100%;
}

.emailid label {
	width:160px;
	height:38px;
	background-color:#515151;	
	border-radius:5px 0px 0px 5px;
	float:left;		
	margin-bottom:20px;	
	color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 21px;
}

.emailid input {
    width: 300px;
    height: 38px;
    float: left;
    border-radius: 0px 5px 5px 0px;
    border-style: solid;
    border-color: #515151;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 30px;
	padding-left: 6px;
}
.emailid img{
	top: 11px;
    right: 11px;
    position: absolute;
	
}


a.button
{
    height: 45px;
	margin: 15px 0;
    text-align: center;
    border: 1px solid #515151;
    width: 100%;
    float: left;
	text-decoration:none;
    color: #fff;
    font-size: 25px;
    line-height: 45px;
    border-radius: 5px;
	background: rgb(252,35,43);
    background: -moz-linear-gradient(top, rgb(252,35,43) 1%, rgb(176,0,0) 100%);
    background: -webkit-linear-gradient(top, rgb(252,35,43) 1%,rgb(176,0,0) 100%);
    background: linear-gradient(to bottom, rgb(252,35,43) 1%,rgb(176,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc232b', endColorstr='#b00000',GradientType=0 );
}

a.button:hover{
	cursor:pointer;
	opacity:0.8;
}

button h2 {
	color:#FFFFFF;
}


#batch{
	background-color:#ea3031;
	height:50px;
	left:auto;
	top:auto;
	position:relative;
	border-radius:10px 10px 0px 0px;
}
#batch img{
	position:absolute;
	height:50px;
	width:40px;
	left:12px;
	
}



.login-image {
	top:18px;
	left:180px;
	position:absolute;
}






.password {
	width:auto;
	height:auto;
	position:absolute;
}

.password lable {
	width:160px;
	height:40px;
	background-color:#515151;
	position:absolute;
	border-radius:5px 0px 0px 5px;
	top:130px;
	left:90px;
}

.password input {
	width:340px;
	height:34px;
	position:absolute;
	border-radius:0px 5px 5px 0px;
	top:130px;
	left:250px;
	border-style:solid;
	border-color:#515151;
	
}
input[type=checkbox], input[type=radio]
{
    margin: 0;
    padding: 0;
    height: initial;
    width: initial;
}
.container .data_add
{
	float:right;
	margin-bottom:20px;
	color: white;
}
.container
{
	position:relative;
}

.dash-button,.dash-button-hide
{
	padding:5px 8px;
	cursor:pointer;
	color:#fff;
	position:absolute;
	border-radius:5px 5px 0px 0px;
	bottom:0;
	right:15px;
	z-index:9999;
	border-style:solid;
	border-color:#515151;
	/*background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc232b+1,b00000+100 */
	background: rgb(252,35,43); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(252,35,43) 1%, rgb(176,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgb(252,35,43) 1%,rgb(176,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgb(252,35,43) 1%,rgb(176,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc232b', endColorstr='#b00000',GradientType=0 ); /* IE6-9 */
}
.click-show
{
    display: none;
    position: absolute;
    z-index: 99;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.section1>.static>ul
{
    /* float: left; */
    /* min-width: 320px; */
    /* padding-top: 20px; */
    /* padding-left: 30px; */
    /* padding-right: 30px; */
	list-style-type: none;
    /* display: inline-block; */
    /* padding: 0; */
    /* margin-bottom: 15px; */
    /* padding-bottom: 15px; */
}
.section1>.static>ul>li>ul
{
	float: left;
    min-width:225px;
	max-width:410px;
    margin-top: 50px;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 15px;
}
.section1>.static>ul>li{
	float: left;
    margin-left: 5px;
    margin-right: 5px;
    /* position: relative; */
}
.section1>.static>ul>li:first-child{
    margin-left: 0;
}
.section1>.static>ul>li:last-child{
    margin-right: 0;
}
.section1>.static>ul>li ul li:first-child:after 
{
	content: '';
    position: absolute;
    left: 40px;
    top: -7px;
    height: 10px;
    width: 10px;
    background: #FFF;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(45deg);
}

.dir ul li:first-child:after 
{
	content: '';
    position: absolute;
    left: -6px !important;
    top: 13px !important;
    height: 10px;
    width: 10px;
    background: #FFF;
    border-top: 0px !important;
    border-bottom: 2px solid #000 !important;
    border-left: 2px solid #000;
    transform: rotate(45deg);
}
.section ul li:hover{

	opacity:0.8;
}

.section1 hr
{
	border:2px solid;
	clear:both;
	margin-top:20px;
	margin-bottom:0px;
}
.st_inputdiv
{
	width: 242px;
    padding: 20px 22px 9px 1px;
    margin: initial;
	color:#000;
}
lable h3 {
	color:#FFFFFF;
	text-align:center;
	margin-top:8px;
}

#dash_Quickline 
{
	/*background-color:#ffffff;
	float:left;
	width:400px;
	height:220PX;
	border-radius:20px;
	border:solid 1px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 70px;*/
	background-color: #ffffff;
    float: left;
    width: 400px;
    border-radius: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 70px;
}
#dash_noticeboard
{
	/*background-color:#ffffff;
	float:right;
	width:400px;
	height:220PX;
	border-radius:20px;
	border:solid 1px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 70px;*/
	background-color: #ffffff;
    float: right;
    width: 400px;
	height:235px;
    border-radius: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 70px;
}

.box img{
	left:20px;
} 
#dash_Quickline .box h3
{
	text-align: center;
    margin: 0;
    border-radius: 15px 15px 0px 0px;
    line-height: 40px;
    background: #edaa1e;
}
#dash_Quickline .box
{
    /* width: 400px;
    /* height: 40px; 
    background-color: #ffdda8;
	border-radius: 10px 10px 0 0; */
    border: solid 1px #000;
	background-color:#fff;
	border-radius: 15px;
}
#dash_Quickline ul
{
    width:100%;
    margin: 0 auto;
    list-style-type: none;
    display: table;
    padding: 0;
	/*float:left;
	min-width:305px;
	margin-top:-15px;
	list-style-type:none;
	display:inline-block;
	margin-left:0;
	margin-right:0;*/
	
}
#dash_noticeboard .box{
  /*right:100px;*/
	height:inherit;
	background-color:#fff;
	border: solid 1px #000;
	border-radius: 15px;
}

#dash_noticeboard .box h3{
	text-align: center;
    margin: 0;
    border-radius: 15px 15px 0px 0px;
    line-height: 40px;
    background: #edaa1e;
}
#dash_noticeboard p{
	margin:10px;
	
}

#dash_Quickline img{
	margin-top:10px;
	margin-right:5px;
    list-style-type:none;
	
	
}
#dash_Quickline ul li{
	margin-left:10px;
	padding:10px;
	float:left;
}

footer {
	width:100%;
	height:100px;
	background-color:#757575;
	margin:0px;
	float:left;

}

footer h6 {
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#142aff;
	padding-top:10px;
	font-family:arial;
	
}

footer a {
	text-align:center;
	text-decoration:none;
}



header .search{
	width:500px;
	right:50px;
	top:70px;
	left:470px;
	border:0px solid;
	height:15px; 
	padding:0px 3px; 
	position:relative; 
	
}
header  #button1{
    width:60px;
height:23px;
top:0px;
left:150px;
background-color:#696969;
position:absolute;	
text-align:center;
color:#ffffff;
}
#icon img{
    width:36px;
    height:36px;	
	left:730px;
	top:10px;
	
	 }
 
.comboox select{
	 position:absolute;
	 display:transparent;
	 color:#000000;
	 left:30px;
}
  
.login_remember
{
	text-align:right;
	width:250px;
	float:right;
	font-size:16px;
	color:#515151
}
.forgot-pass
{
	text-align:left;
	color:#000;
	font-size:16px;
	width:250px;
	float:left;
}
.forgot-pass .info {
	background: #cccccc;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    line-height: 25px;
    margin: 0 5px 0 0;
    text-align: center;
    width: 25px;
}
.forgot-pass a{
	text-decoration:none;
	color:#515151;
	
}
.forgot-pass a:hover{
	color:#000;
	text-decoration:underline;
}


.box1{
	width:100%;
	height:450px;
	background-color:#ffffff;
	margin-top:20px; 
	border-radius:15px;
	border-radius:10px 10px 10px 10px;
}
.box1 h3{
	position:absolute;
	color:#ffffff;
	margin-top:15px;
	margin-left:70px;
	font-size:20px;
	font-weight:bolder;
	font-family:arial;
}

#menu2 ul{
	padding:0;
	
}
#menu2  li {
    
	text-decoration:none;
	list-style-type:none;
	font-size:18px;
	color:#000000;
}
#menu2 ul li h1{

	margin-top:10px;
	text-decoration:none;
	list-style-type:none;
	font-size:16px;
	color:#000000;
	white-space: nowrap ;
	
    border-bottom:1px solid #fff;
    display:block;
    padding:10px;
	
}

#menu2 ul li h1:hover{
	opacity:0.5;
	background-color:orange;
}
#left{
	float:left;
	margin-bottom:50px;

}
#right{
	
}
#right h2{
	color:black;
	
	line-height:30px;
	
}
#center{
	color:#000;

}
select{
	height:30px;
	border-radius:5px 5px 5px 5px;
	border:solid 1px;
	font-size: 1.1em;
}
#show_hide_table
{
    cursor: pointer;
    width: auto;
    text-align: center;
    font-size: 20px;
    float: left;
    margin-bottom: 0;
    text-decoration: none;
    padding: 7px 14px;
    background: #ffdda8;
    border-radius: 5px;
    color: #000000;
    padding:8px 20px;
}
#st_batch
{
	display:none;
	clear:both;
}
.formcontain
{
    position: relative;
    display: inline-block;
    width: 240px;
    padding: 20px 22px 9px 1px;
}
#subject{
	color:#000;
}
#facultycenter{
	color:#000;
}
#selectorenter{
	color:#000;
}
#days{
	color:#000;
  
}
#timing{
	color:#000;
   
}

#timingto{
	color:#000;
   
}
#startdate{
	color:#000;
  
}
#enddate{
	color:#000;
   
}
#examdate{
	color:#000;
  
}
#Attandance{
	color:#000;
  
}
#totalsession{
	color:#000;
   
}
#textarea{
	color:#000;
   
}
textarea{
	
	left:300px;
	top:390px;
	width:250px;
	height:100px;
	border-radius:5px 5px 5px 5px;
	overflow-y: scroll;
	resize:none;
}
/*.btn{
	border:none;
	padding:0 15px 0 0!important;
	clear: both;
    display: block;
    float: left;
	cursor:pointer;
}*/
.btn1{
	border:none;
	float: left;
}
button {
	cursor:pointer;
    border-style: solid;
    font-size: 20px;
    width: 120px;
    height: 35px;
/*
	top:280px;
	left:158px;
*/
	color:#fff;
	border-color:#515151;
	border-radius:5px;
	background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc232b+1,b00000+100 */
background: rgb(252,35,43); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(252,35,43) 1%, rgb(176,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(252,35,43) 1%,rgb(176,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(252,35,43) 1%,rgb(176,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc232b', endColorstr='#b00000',GradientType=0 ); /* IE6-9 */
;
}
button:hover{
	opacity:0.5;
}

#batchsearch{

	
}
#batchsearch h2{
	color:black;
	
	line-height:30px;
	
}
#FacultyName{
color:#000;
  
  
}
#FacultyNamelast{
	color:#000;

  
}
#fstartdate{
	color:#000;

   
}
#flastdate{
	color:#000;

   
}
#batchstatus{
	color:#000;

  
}
#tostartdate{
	color:#000;

   
}
#toenddate{
	color:#000;

   
}
#batchid{
	color:#000;
   
   
}
#Subject1{
	color:#000;

  
}
#Authentication{
	color:#000;
 
   
}
#days1{
	color:#000;

}
.btn2{
	border:none;
	padding:20px 0;
	clear: both;
    display: block;
    float: left;
}

.box1 .btn2
{
	border:none;
	padding:0;
	clear: both;
    display: block;
    float: left;
}
.box1 .excel
{
	float: left;
    /* display: inline-block; */
    /* width: 200px; */
    margin-left:50px;
	margin-top:initial;
}
.excel{
	float:right;
	width:200px;
	margin-top:30px;
}
.excel img{

	width:20px;
	height:30px;
    float:left;
	
	
}
.excel h2{
     
	
	color: #006400;
    font-size: 17px;
    margin: 0;
    float: left;
padding: 6px 15px;}
/*--------table data-------*/

#div_base{
	
    overflow: auto;
    height: 350px;	
}
#div_header{
	
	
	width: 1700px; 

}
#table_header{
	
	top: 300px; 
	left: 7px; 
	width: 100%;
	border:1px solid white;
	
}
/*
#page th{
	background-color: grey; 
	color: #383838;
	border:1px solid white;
	padding: 0 10px 0 5px!important;
}
*/
/*
#page  tr{
	background-color: black; 
	color: white;
}
*/
/*
#page  td{
	background-color: black; 
	color: white;
	white-space: nowrap;
	border:1px solid white;
	padding: 0 20px 0 10px!important;
}
*/
#div_data{
	top: 25px;
	bottom: 0px; 
	width: 250x; 
	overflow: auto;
}
#table_data{
	top:100px;	
left: 0px; 
bottom: 0px; 
width: 1500px;
height:100px;
}

/*------Update Notice for Student Desk----*/
#st_noticetable
{
	width:100%;
	overflow:auto;
}
#st_noticetable table
{
	width:100%;
	border-collapse: collapse;
	table-layout: fixed;
	text-align:left;
}

#st_noticetable table th
{
    background: #ffdda8;
    border-color: #000;
}

#st_noticetable table td
{
	background-color: white;
    color: black;
    white-space: initial;
    border: 1px solid black;
    line-height: initial;
    padding: 10px!important;
}
/*#st_noticetable table th:nth-child(1) {
    width:10%;
}
#st_noticetable table th:nth-child(2) {
    width:10%;
}
#st_noticetable table th:nth-child(3) {
    width:60%;
}
#st_noticetable table th:nth-child(4) {
    width:10%;
}
#st_noticetable table th:nth-child(5) {
    width:5%;
}
#st_noticetable table th:nth-child(6) {
    width:5%;
}*/

#st_noticetable table .note_delete a,
#st_noticetable table .note_edit a
{
    color:blue;
	text-decoration:none;
}
#st_noticetable table .note_delete a:hover,
#st_noticetable table .note_edit a:hover
{
	text-decoration:underline;
	cursor:pointer;
}



#st_batchtable
{
	width:100%;
	overflow:auto;
	height:270px;
}
#st_batchtable table
{
	width:100%;
	border-collapse: collapse;
	text-align:left;
}

#st_batchtable table th
{
	/*column-width:290px !important;*/
	background:#ffdda8;
	/*column-width:auto;*/
	border-color:#000;
}

#st_batchtable table td
{
	background-color: white;
    color: black;
	/*column-width:250px !important;*/
    border: 1px solid black;
    line-height: initial;
    padding: 10px!important;
}


/*popup*/
.black_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 99999999;
}
.white_content
{
}
	
	
	
	

/*------dashboard menu----*/



ul li .sub_dashmenu li img{
	width:100px;
	height:80px;
}
.section1>.static>ul>li ul li a
{
    display: block;
    padding:10px 10px;
    margin: 0;
}
.section1>.static>ul>li 
{
}
.dashboard_section>.static>ul>li ul
{
	top:23%!important;
}
.dashboard_section>.static>ul
{
	padding-top: 20px;
}
.section1>.static>ul>li ul
{
    border: 2px solid #000;
    background-color: white;
    /*right: 0px;
    left: 0;
    width: 60%;*/
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 10px;
	margin:0;
}
ul .image_menu li
{
	float:left;
}
.section1>.static>ul>li ul li a img
{
    width: 70px;
    padding: 5px;
    height: auto;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.section1>.static>ul>li ul li a img:hover
{
	border: 1px solid #000;
}
.section1>.static>ul>li:hover ul
{
	 display:block;
}
.section1>.static>ul>li:hover
{
    border-radius: 10px 10px 0 0;
}
.section1>.static>ul>li:hover>a
{
	color:#666;
}
ul li .text_menu li:hover a
{
	color:#000;
	/*background-color:orange;
	border-radius:10px 10px 10px 10px;*/
}
ul li .text_menu li:first-child
{
	margin: 15px 0 0 0;
}
ul li .text_menu
{
	padding:0!important;
}
ul li .text_menu li:last-child
{
	margin: 0 0 15px 0;
}
ul li .text_menu li:hover
{
	background:#808080;
}
.section1>.static>ul>li a img
{	
    height:71px;
    width: auto;
}
/*#primary_nav_wrap>ul>li a img
{	
    height:85px;
    width: auto;
}*/
ul li .text_menu li:hover a
{
	text-decoration:none;
	color:#fff;
}
@media (min-width:1200px)
{
    .container 
	{
        width: 1170px
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.h2, h2 {
    font-size: 30px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

@media (min-width:768px)
{
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-11 {
        width: 91.66666667%
    }
    .col-sm-10 {
        width: 83.33333333%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-8 {
        width: 66.66666667%
    }
    .col-sm-7 {
        width: 58.33333333%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.66666667%
    }
    .col-sm-1 {
        width: 8.33333333%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-pull-11 {
        right: 91.66666667%
    }
    .col-sm-pull-10 {
        right: 83.33333333%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-8 {
        right: 66.66666667%
    }
    .col-sm-pull-7 {
        right: 58.33333333%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-5 {
        right: 41.66666667%
    }
    .col-sm-pull-4 {
        right: 33.33333333%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-2 {
        right: 16.66666667%
    }
    .col-sm-pull-1 {
        right: 8.33333333%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-push-11 {
        left: 91.66666667%
    }
    .col-sm-push-10 {
        left: 83.33333333%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-8 {
        left: 66.66666667%
    }
    .col-sm-push-7 {
        left: 58.33333333%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-5 {
        left: 41.66666667%
    }
    .col-sm-push-4 {
        left: 33.33333333%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-2 {
        left: 16.66666667%
    }
    .col-sm-push-1 {
        left: 8.33333333%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px)
{
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-11 {
        width: 91.66666667%
    }
    .col-md-10 {
        width: 83.33333333%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-8 {
        width: 66.66666667%
    }
    .col-md-7 {
        width: 58.33333333%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666667%
    }
    .col-md-4 {
        width: 33.33333333%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.66666667%
    }
    .col-md-1 {
        width: 8.33333333%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-pull-11 {
        right: 91.66666667%
    }
    .col-md-pull-10 {
        right: 83.33333333%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-8 {
        right: 66.66666667%
    }
    .col-md-pull-7 {
        right: 58.33333333%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-5 {
        right: 41.66666667%
    }
    .col-md-pull-4 {
        right: 33.33333333%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-2 {
        right: 16.66666667%
    }
    .col-md-pull-1 {
        right: 8.33333333%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-push-11 {
        left: 91.66666667%
    }
    .col-md-push-10 {
        left: 83.33333333%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-8 {
        left: 66.66666667%
    }
    .col-md-push-7 {
        left: 58.33333333%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-5 {
        left: 41.66666667%
    }
    .col-md-push-4 {
        left: 33.33333333%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-2 {
        left: 16.66666667%
    }
    .col-md-push-1 {
        left: 8.33333333%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px)
{
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-11 {
        width: 91.66666667%
    }
    .col-lg-10 {
        width: 83.33333333%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-8 {
        width: 66.66666667%
    }
    .col-lg-7 {
        width: 58.33333333%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-5 {
        width: 41.66666667%
    }
    .col-lg-4 {
        width: 33.33333333%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-2 {
        width: 16.66666667%
    }
    .col-lg-1 {
        width: 8.33333333%
    }
    .col-lg-pull-12 {
        right: 100%
    }
    .col-lg-pull-11 {
        right: 91.66666667%
    }
    .col-lg-pull-10 {
        right: 83.33333333%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-pull-8 {
        right: 66.66666667%
    }
    .col-lg-pull-7 {
        right: 58.33333333%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-pull-5 {
        right: 41.66666667%
    }
    .col-lg-pull-4 {
        right: 33.33333333%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-pull-2 {
        right: 16.66666667%
    }
    .col-lg-pull-1 {
        right: 8.33333333%
    }
    .col-lg-pull-0 {
        right: auto
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-push-11 {
        left: 91.66666667%
    }
    .col-lg-push-10 {
        left: 83.33333333%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-push-8 {
        left: 66.66666667%
    }
    .col-lg-push-7 {
        left: 58.33333333%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-push-5 {
        left: 41.66666667%
    }
    .col-lg-push-4 {
        left: 33.33333333%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-push-2 {
        left: 16.66666667%
    }
    .col-lg-push-1 {
        left: 8.33333333%
    }
    .col-lg-push-0 {
        left: auto
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .col-lg-offset-0 {
        margin-left: 0
    }
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}
section .stu_serchlist_form {
    background-color: #edaa1e;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    width: 1000px;
    float: left;
}
section .create_batch_form {
/*    background-color:#ffdda8;*/
    background-color:#edaa1e;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}
section .create_batch_form 
{
    border-radius: 15px 15px;
    /* border: solid 3px black; */
}
.gapping
{
	padding: 50px 0;
}
.stu_serchlist
{
	background-color: #edaa1e;
    border-radius: 15px;
	padding: 0;
    margin: 0;
}
.panel {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.panel {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.panel-default {
    border-color: #ddd;
}
.panel {
    background-color: #edaa1e;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
    padding: 15px;
	background: #fff;
}
.form-group {
    margin-bottom: 15px;
}
.form-group {
    margin-bottom: 15px;
}
/*----text editor-----*/
.texteditor_maindiv
{
	/*width:initial!important;*/
}
/*----text editor-----*/

.multiselect{
    background-color: #e6e6e6;
}


.del_data,.handCursor{
    cursor: pointer;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap .menuHolder{
	margin-left: 37px;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 8px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	/*background:#fab1b2    it is bg color of current tab */
}

#primary_nav_wrap ul li:hover
{
	/*background:#f6f6f6     it is hover bg color of main menu */
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

.course_interested{
	display: none;
}

.pointer{
	cursor: pointer;
}

th,td{
	font-size: 11px !important;
	vertical-align: top !important;
}